<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About Me</h2>
        <div class="p-container">
          <p>I'm a Japanese citizen but I spent the majority of my early years in the USA. I've spent my adult life in Japan however, and have found some great hobbies. One of which is crocheting.</p>
          <p>I'm also a Web Developer in Tokyo as well as a Computer Science student at SNHU. I started off self-learning how to code and then became a student as well. Since then, I've also graduated from Le Wagon Tokyo and learned some really cool stuff.
            With coding, I am able to create new things just like when I crochet a new hat. Creating and designing are things that I am passionate about.</p>
        </div>
      </div>
    </div>
  </div>
</div>
