<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about" class="mx-5 text-center" style="background-color: #E4E2CB;">
        <h2 class="fw-bold mt-3">My Studies</h2>
        <div class="p-container" style="background-color: #B2B09B;">
          <p>I completed the Le Wagon Tokyo bootcamp December, 2023. In this bootcamp I learned about Web App development.</p>
          <p> ~~ I Learned ~~</p>
          <ul style="list-style-type: none;">
            <li>Ruby/Rails</li>
            <li>HTML/CSS/SCSS</li>
            <li>Javascript/Vue JS/Mustache/React</li>
            <li>SQL/Postgres</li>
            <li>GIT/GITHUB</li>
            <li>Heroku/API's</li>
          </ul>
          <p> ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ </p>
          <p>I am also currently a student at Southern New Hampshire University.I am pursuing a degree in Computer Science.</p>
          <p>~~ I Have Learned So Far ~~</p>
          <ul style="list-style-type: none;">
            <li>MYSQL</li>
            <li>Python</li>
            <li>Discreet Mathematics</li>
            <li>JAVA - upcoming</li>
          </ul>
        </div>
        <h2 class="fw-bold mt-3">My Hobbies</h2>
        <div class="p-container" style="background-color: #B2B09B;">
          <p>I'm a Japanese citizen but I spent the majority of my early years in the USA. I've spent my adult life in Japan however, and have found some great hobbies. One of which is crocheting.</p>
          <p>I have a few crochet projects right now, which are a beanie and skirt.</p>
          <p> ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ </p>
          <p> I'm also an avid gamer, I love games like Coral Island, Last of Us, and Horizon. When I'm not coding or studying, you'll find me playing games.</p>
          <p>~~ My Favorite Games Are ~~</p>
          <ul style="list-style-type: none;">
            <li>Last of Us Part 1 and 2 - Great storytelling and character design</li>
            <li>Horizon Zero Dawn - Amazing environment design and storytelling</li>
            <li>Coral Island - Great game from a small studio</li>
            <li>Witcher 3 - Wonderful story and mechanics</li>
            <li>Stardew Valley - Amazing game originally made by one guy</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
