<div class="d-flex justify-content-center gap-5 align-items-center banner">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <%= image_tag 'my_photo.jpg', alt: "profile photo", class: 'avatar' %>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center banner-text">
    <h1 class="title-main text-white fw-2">Hi, I'm Mao!</h1>
    <p class="text-white text-center fs-3">I'm a Web Developer in Tokyo, Japan.</p>
  </div>
</div>
