.banner {
  width: 100%;
  height: 100vh;

  padding-bottom: 20px;
  margin-bottom: 20px;
  padding: 5px;
}
.full-banner {
  background-color: #254441;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #F7F3E3;
}
