// Specific CSS for your home-page
.full-container{
  width: 100vw;
}

#about {
  border: white 3px solid;
  border-radius: 8px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  padding: 15px;
  color: #254441;
}

#projects {
  border: white 3px solid;
  border-radius: 8px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  padding: 15px;
}

.p-container {
  background-color: #F7F3E3;
  font-weight: 500;
  font-size: 18px;
  border: white 3px solid;
  border-radius: 8px;
  box-shadow: 0 3px 4px rgba(0,0,0,0.2);
  padding: 15px;
}
